:root {
  font-size: xx-large;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  min-height: 100vh;
}

.container-1,
.container-2,
.container-3 {
  margin: 100px;
}

button {
  width: 200px;
  height: 100px;
  margin: 5px;
  color: white;
}

#rock {
  background-image: url("images/rock_2.png");
}

#paper {
  background-image: url("images/paper_2.png");
}

#scissor {
  background-image: url("images/scissor_2.png");
}

.container-1 {
  display: flex;
  justify-content: space-around;
}

.container-2 {
  display: flex;
  justify-content: space-around;
}

.container-3 {
  display: flex;
  justify-content: center;
}

.container-4 {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
